@import "tailwindcss";
@import "uniwind";
@import "heroui-native/styles";

@source './node_modules/heroui-native/lib';

/* HeroUI Native Theme Customization */
@layer theme {
  @variant light {
    /* Theme Colors (Light Mode) */
    --accent: oklch(76.97% 0.2124 148.67);
    --accent-foreground: oklch(15% 0.0300 148.67);
    --background: oklch(97.02% 0.0163 148.67);
    --border: oklch(90.00% 0.0163 148.67);
    --danger: oklch(65.32% 0.2404 13.12);
    --danger-foreground: oklch(99.11% 0 0);
    --default: oklch(94.00% 0.0163 148.67);
    --default-foreground: oklch(21.03% 0.0059 148.67);
    --field-background: oklch(100.00% 0.0081 148.67);
    --field-foreground: oklch(21.03% 0.0059 148.67);
    --field-placeholder: oklch(75% 0.0150 148.67);
    --focus: oklch(76.97% 0.2124 148.67);
    --foreground: oklch(21.03% 0.0059 148.67);
    --muted: oklch(55.17% 0.0326 148.67);
    --overlay: oklch(100.00% 0.0049 148.67);
    --overlay-foreground: oklch(21.03% 0.0059 148.67);
    --scrollbar: oklch(87.10% 0.0163 148.67);
    --segment: oklch(100.00% 0.0163 148.67);
    --segment-foreground: oklch(21.03% 0.0059 148.67);
    --separator: oklch(92.00% 0.0163 148.67);
    --success: oklch(73.29% 0.1998 138.19);
    --success-foreground: oklch(21.03% 0.0059 138.19);
    --surface: oklch(100.00% 0.0081 148.67);
    --surface-foreground: oklch(21.03% 0.0059 148.67);
    --warning: oklch(78.19% 0.1637 59.71);
    --warning-foreground: oklch(21.03% 0.0059 59.71);
  }

  @variant dark {
    /* Theme Colors (Dark Mode) */
    --accent: oklch(76.97% 0.2124 148.67);
    --accent-foreground: oklch(15% 0.0300 148.67);
    --background: oklch(12.00% 0.0163 148.67);
    --border: oklch(28.00% 0.0163 148.67);
    --danger: oklch(59.40% 0.2031 12.01);
    --danger-foreground: oklch(99.11% 0 0);
    --default: oklch(27.40% 0.0163 148.67);
    --default-foreground: oklch(99.11% 0 0);
    --field-background: oklch(21.03% 0.0326 148.67);
    --field-foreground: oklch(99.11% 0.0000 0.00);
    --field-placeholder: oklch(80% 0.0150 148.67);
    --focus: oklch(76.97% 0.2124 148.67);
    --foreground: oklch(99.11% 0.0000 0.00);
    --muted: oklch(70.50% 0.0326 148.67);
    --overlay: oklch(21.03% 0.0326 148.67);
    --overlay-foreground: oklch(99.11% 0.0000 0.00);
    --scrollbar: oklch(70.50% 0.0163 148.67);
    --segment: oklch(39.64% 0.0163 148.67);
    --segment-foreground: oklch(99.11% 0.0000 0.00);
    --separator: oklch(25.00% 0.0163 148.67);
    --success: oklch(73.29% 0.1998 138.19);
    --success-foreground: oklch(21.03% 0.0059 138.19);
    --surface: oklch(21.03% 0.0326 148.67);
    --surface-foreground: oklch(99.11% 0.0000 0.00);
    --warning: oklch(82.03% 0.1433 63.72);
    --warning-foreground: oklch(21.03% 0.0059 63.72);
  }
}
